{
  "presets": ["react"],
  "plugins": ["transform-runtime"],
  "env": {
    "production": {
      "presets": ["es2015"],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "presets": ["es2015", "react-hmre"]
    },
    "test": {
      "presets": ["node6"],
      "plugins": ["add-module-exports", "remove-module-hot"]
    }
  }
}
