{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node":    true,
    "mocha":   true,
  },
  "globals": {
    "expect":  true,
    "__DEV__": true
  },
  "rules": {
    "jsx-quotes": [2, "prefer-single"]
  },
  "plugins": [
    "babel", "react"
  ],
  "parser": "babel-eslint"
}
