{
  "extends": [
    "eslint-config-airbnb",
    "plugin:ava/recommended"
  ],
  "env": {
    "browser": true,
    "node":    true,
  },
  "rules": {
    "jsx-quotes": [2, "prefer-single"]
  },
  "plugins": [
    "babel", "react", "ava"
  ],
  "parser": "babel-eslint"
}
